* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body{
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.50));
  }
  
  /* Banner *****************************************************************/
  .banner {
    width: 100%;
    height: fit-content;
    background-size: cover;
    background-position: center;
  }
  
  .navbar {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    width: 300px;
    cursor: pointer;
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li a::after {
    content: '';
    height: 3px;
    width: 0;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .navbar ul li a:hover:after {
    width: 100%;
  }
  
  /* Startscreen *****************************************************************/
  .content {
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    
  }
  
  .content h1 {
    font-size: 70px;
    margin-top: 80px;
  }
  
  .content p {
    margin: 20px ;
    font-weight: 100;
    line-height: 25px;
  }
  
  /* Tabs *****************************************************************/
  
  /* Container for projects */
  .project-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    width: 100%; /* Occupy full width */
    flex-direction: column; /* Stack items vertically */
  }
  
  
  /* Block eigenschappen */
  .block {
    width: 70%;
    margin: 0 auto; /* Center horizontally */
    background: white;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
                rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
                rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow: hidden;
    padding: 40px;
    margin-bottom: 40px;
  }
  
  
  /* Title in the block */
  .block h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .block form {
    text-align: center;
  }
  
  .block form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .block form input,
  .block form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .block form button {
    background-color: rgba(68, 68, 68);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .block form button:hover {
    background-color: #45a049;
  }

  .block form {
    text-align: center;
  }
  
  /* Text in the block */
  .block p {
    font-size: medium;
    font-family: sans-serif;
    text-align: center;
    margin: 10px;
  }
  
  .block img{
    width: 100%;
    }
  
  /* Footer */
  footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  /* Footer content */
  .footer-content {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* Footer text */
  .footer-content p {
    margin: 5px 0;
  }
  
  /* Footer social media links */
  .social-media-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  /* Footer social media links (hover) */
  .social-media-links a:hover {
    text-decoration: underline;
  }
  
  /* Responsive design */
  @media (max-width: 1024px) {
  }
  
  @media (max-width: 768px) {
  }
  